.layout-main-container {
  height: 100%;
  display: flex;
  align-items: center;

  .layout-main-sidebar-container {
    height: 100%;
  }

  .layout-main-content-container {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
