// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

/* default styles.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
}

router-outlet {
  display: contents;
}

// Global Variables

:root {
  --font-size-xs: 1.2rem; // 12px
  --font-size-sm: 1.4rem; // 14px
  --font-size-md: 1.6rem; // 16px
  --font-size-lg: 2rem; // 20px
  --font-size-xl: 2.4rem; // 24px

  --space-4: 0.4rem; // 4px
  --space-6: 0.375rem; // 6px
  --space-8: 0.8rem; // 8px
  --space-16: 1rem; // 16px
  --space-20: 2rem; // 20px
  --space-24: 2.4rem; // 24px
  --space-32: 3.2rem; // 32px
}
